<mat-card class="main-header">
  <mat-card-title>Dashboard</mat-card-title>
</mat-card>

<mat-card class="main-body">
  <div class="flex-column">
    <div class="flex-item padding-basic">
      <mat-card routerLink="class">Class Management</mat-card>
    </div>
    <div class="flex-item padding-basic">
      <mat-card routerLink="teacher">Teacher Management</mat-card>
    </div>
    <div class="flex-item padding-basic">
      <mat-card routerLink="student">Student Management</mat-card>
    </div>
    <div class="flex-item padding-basic">
      <mat-card routerLink="course">Subject Management</mat-card>
    </div>
  </div>
  <div class="flex-column">
    <div class="flex-item padding-basic">
      <mat-card routerLink="marksheet">Mark Sheet</mat-card>
    </div>
    <div class="flex-item padding-basic">
      <mat-card routerLink="results">Results</mat-card>
    </div>
    <div class="flex-item padding-basic">
      <mat-card routerLink="id-card">Identity Cards</mat-card>
    </div>
    <div class="flex-item padding-basic">
      <mat-card routerLink="broadcast">Email Messaging</mat-card>
    </div>
  </div>
</mat-card>
