<div class="side-menu">
    <mat-card class="account-card">
      kjk
    </mat-card>
  <mat-nav-list class="side-menu-list" color="primary">          
    <div>
      <mat-list-item routerLink="dashboard"> Dashboard </mat-list-item>
      <mat-list-item routerLink="course"> Subject </mat-list-item>
      <mat-list-item routerLink="class"> Class </mat-list-item>
      <mat-list-item routerLink="student"> Student </mat-list-item>
      <mat-list-item routerLink="teacher"> Teacher </mat-list-item>
      <mat-divider style="padding-top:20px"></mat-divider>
      <mat-list-item routerLink="Attendance"> Attendance </mat-list-item>
      <mat-list-item routerLink="time-table"> Time Table </mat-list-item>
      <mat-list-item routerLink="examination"> Result </mat-list-item>
    </div>
  </mat-nav-list>

</div>
