.marks-table {
    width: 100%;
}
.entry-section {
    margin: auto;
    position: relative;
    left: 100px;
}
.entry-table-section {
    margin: auto;
    position: relative;
    width: 50%;
}
.mat-grid-tile {
  background: lightblue;
}
